# `pairs.csv`

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df_pairs  = pd.read_csv("./data-foursquare-location-matching/pairs.csv")

In [3]:
df_pairs.shape

(578907, 25)

In [4]:
df = df_pairs.copy()
df.head()

,id_1,name_1,latitude_1,longitude_1,address_1,city_1,state_1,zip_1,country_1,url_1,...,longitude_2,address_2,city_2,state_2,zip_2,country_2,url_2,phone_2,categories_2,match
0,E_000001272c6c5d,Café Stad Oudenaarde,50.859975,3.634196,Abdijstraat,Nederename,Oost-Vlaanderen,9700,BE,NaN,...,3.635206,NaN,NaN,NaN,NaN,BE,NaN,NaN,Bars,True
1,E_000008a8ba4f48,Turkcell,37.844510,27.844202,Adnan Menderes Bulvarı,NaN,NaN,NaN,TR,NaN,...,27.845560,batı aydın,aydın,NaN,67500,TR,NaN,NaN,Electronics Stores,False
2,E_000023d8f4be44,Island Spa,14.518970,121.018702,"5th Flr, Newport Mall, Resorts World Manila",Pasay City,Metro Manila,NaN,PH,NaN,...,121.019827,NaN,NaN,NaN,NaN,PH,NaN,NaN,Spas,True
3,E_00007dcd2bb53f,TOGO'S Sandwiches,38.257797,-122.064599,"1380 Holiday Ln., Ste. B",Fairfield,CA,94534,US,https://locations.togos.com/ll/US/CA/Fairfield...,...,-122.064606,NaN,Fairfield,CA,NaN,US,NaN,NaN,Sandwich Places,True
4,E_0000c362229d93,Coffee Cat,7.082218,125.610244,F. Torres St.,Davao City,Davao Region,8000,PH,NaN,...,125.611457,E. Jacinto Extension,Davao City,Davao Region,8000,PH,NaN,NaN,"Coffee Shops, Cafés, Dessert Shops",False

In [5]:
df.isna().sum()

id_1                 0
name_1               0
latitude_1           0
longitude_1          0
address_1       103524
city_1           65979
state_1         126591
zip_1           219398
country_1            8
url_1           347101
phone_1         308885
categories_1     16294
id_2                 0
name_2               0
latitude_2           0
longitude_2          0
address_2       266410
city_2          211417
state_2         269218
zip_2           354080
country_2            6
url_2           494057
phone_2         459944
categories_2     75976
match                0
dtype: int64

## Adding "similarity" columns

In [6]:
from difflib import SequenceMatcher

def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

In [ ]:
# df_US_small = df_US.iloc[0:5,:]
# df_US_small = df_US_small.copy()

# a = df_US_small.iloc[[0]].loc[:,'name_1'].values[0]
# b = df_US_small.iloc[[0]].loc[:,'name_2'].values[0]
# tmp  = similar(a,b)

In [ ]:
# sim_arr = []
# for i in range(len(df_US_small)):
#     a = df_US_small.iloc[[i]].loc[:,'name_1'].values[0]
#     b = df_US_small.iloc[[i]].loc[:,'name_2'].values[0]
#     sim = similar(a,b)
#     sim_arr.append(sim)
# sim_arr

In [8]:
# name similarity array;
sim_arr = []
for i in range(len(df)):
    a = df.iloc[[i]].loc[:,'name_1'].values[0]
    b = df.iloc[[i]].loc[:,'name_2'].values[0]
    sim = similar(a,b)
    sim_arr.append(sim)
    if i%5000==0: 
        print('{}; '.format(i), end='')
    if i%50000==0:
        print()

0;
5000; 10000; 15000; 20000; 25000; 30000; 35000; 40000; 45000; 50000;
55000; 60000; 65000; 70000; 75000; 80000; 85000; 90000; 95000; 100000;
105000; 110000; 115000; 120000; 125000; 130000; 135000; 140000; 145000; 150000;
155000; 160000; 165000; 170000; 175000; 180000; 185000; 190000; 195000; 200000;
205000; 210000; 215000; 220000; 225000; 230000; 235000; 240000; 245000; 250000;
255000; 260000; 265000; 270000; 275000; 280000; 285000; 290000; 295000; 300000;
305000; 310000; 315000; 320000; 325000; 330000; 335000; 340000; 345000; 350000;
355000; 360000; 365000; 370000; 375000; 380000; 385000; 390000; 395000; 400000;
405000; 410000; 415000; 420000; 425000; 430000; 435000; 440000; 445000; 450000;
455000; 460000; 465000; 470000; 475000; 480000; 485000; 490000; 495000; 500000;
505000; 510000; 515000; 520000; 525000; 530000; 535000; 540000; 545000; 550000;
555000; 560000; 565000; 570000; 575000;

In [9]:
df['name_similarity'] = sim_arr

In [10]:
df.head()

,id_1,name_1,latitude_1,longitude_1,address_1,city_1,state_1,zip_1,country_1,url_1,...,address_2,city_2,state_2,zip_2,country_2,url_2,phone_2,categories_2,match,name_similarity
0,E_000001272c6c5d,Café Stad Oudenaarde,50.859975,3.634196,Abdijstraat,Nederename,Oost-Vlaanderen,9700,BE,NaN,...,NaN,NaN,NaN,NaN,BE,NaN,NaN,Bars,True,0.857143
1,E_000008a8ba4f48,Turkcell,37.844510,27.844202,Adnan Menderes Bulvarı,NaN,NaN,NaN,TR,NaN,...,batı aydın,aydın,NaN,67500,TR,NaN,NaN,Electronics Stores,False,1.000000
2,E_000023d8f4be44,Island Spa,14.518970,121.018702,"5th Flr, Newport Mall, Resorts World Manila",Pasay City,Metro Manila,NaN,PH,NaN,...,NaN,NaN,NaN,NaN,PH,NaN,NaN,Spas,True,0.714286
3,E_00007dcd2bb53f,TOGO'S Sandwiches,38.257797,-122.064599,"1380 Holiday Ln., Ste. B",Fairfield,CA,94534,US,https://locations.togos.com/ll/US/CA/Fairfield...,...,NaN,Fairfield,CA,NaN,US,NaN,NaN,Sandwich Places,True,0.260870
4,E_0000c362229d93,Coffee Cat,7.082218,125.610244,F. Torres St.,Davao City,Davao Region,8000,PH,NaN,...,E. Jacinto Extension,Davao City,Davao Region,8000,PH,NaN,NaN,"Coffee Shops, Cafés, Dessert Shops",False,0.842105

In [ ]:
# df_small = df.iloc[0:5,:]
# df_small = df_small.copy()

# a = df_small.iloc[[0]].loc[:,['latitude_1','longitude_1']].values[0]
# b = df_small.iloc[[0]].loc[:,['latitude_2','longitude_2']].values[0]
# dist = np.linalg.norm(a-b)
# dist

In [ ]:
# dist_arr = []
# for i in range(len(df_US_small)):
#     a = df_small.iloc[[i]].loc[:,['latitude_1','longitude_1']].values[0]
#     b = df_small.iloc[[i]].loc[:,['latitude_2','longitude_2']].values[0]
#     d = np.linalg.norm(a-b)
#     dist_arr.append(d)
# dist_arr

In [12]:
# geo-distance array;
dist_arr = []
for i in range(len(df)):
    a = df.iloc[[i]].loc[:,['latitude_1','longitude_1']].values[0]
    b = df.iloc[[i]].loc[:,['latitude_2','longitude_2']].values[0]
    d = np.linalg.norm(a-b)
    dist_arr.append(d)
    if i%5000==0: 
        print('{}; '.format(i), end='')
    if i%50000==0:
        print()
# dist_arr

0;
5000; 10000; 15000; 20000; 25000; 30000; 35000; 40000; 45000; 50000;
55000; 60000; 65000; 70000; 75000; 80000; 85000; 90000; 95000; 100000;
105000; 110000; 115000; 120000; 125000; 130000; 135000; 140000; 145000; 150000;
155000; 160000; 165000; 170000; 175000; 180000; 185000; 190000; 195000; 200000;
205000; 210000; 215000; 220000; 225000; 230000; 235000; 240000; 245000; 250000;
255000; 260000; 265000; 270000; 275000; 280000; 285000; 290000; 295000; 300000;
305000; 310000; 315000; 320000; 325000; 330000; 335000; 340000; 345000; 350000;
355000; 360000; 365000; 370000; 375000; 380000; 385000; 390000; 395000; 400000;
405000; 410000; 415000; 420000; 425000; 430000; 435000; 440000; 445000; 450000;
455000; 460000; 465000; 470000; 475000; 480000; 485000; 490000; 495000; 500000;
505000; 510000; 515000; 520000; 525000; 530000; 535000; 540000; 545000; 550000;
555000; 560000; 565000; 570000; 575000;

In [13]:
df['geo_distance'] = dist_arr

In [14]:
df.head()

,id_1,name_1,latitude_1,longitude_1,address_1,city_1,state_1,zip_1,country_1,url_1,...,city_2,state_2,zip_2,country_2,url_2,phone_2,categories_2,match,name_similarity,geo_distance
0,E_000001272c6c5d,Café Stad Oudenaarde,50.859975,3.634196,Abdijstraat,Nederename,Oost-Vlaanderen,9700,BE,NaN,...,NaN,NaN,NaN,BE,NaN,NaN,Bars,True,0.857143,0.009437
1,E_000008a8ba4f48,Turkcell,37.844510,27.844202,Adnan Menderes Bulvarı,NaN,NaN,NaN,TR,NaN,...,aydın,NaN,67500,TR,NaN,NaN,Electronics Stores,False,1.000000,0.006631
2,E_000023d8f4be44,Island Spa,14.518970,121.018702,"5th Flr, Newport Mall, Resorts World Manila",Pasay City,Metro Manila,NaN,PH,NaN,...,NaN,NaN,NaN,PH,NaN,NaN,Spas,True,0.714286,0.001295
3,E_00007dcd2bb53f,TOGO'S Sandwiches,38.257797,-122.064599,"1380 Holiday Ln., Ste. B",Fairfield,CA,94534,US,https://locations.togos.com/ll/US/CA/Fairfield...,...,Fairfield,CA,NaN,US,NaN,NaN,Sandwich Places,True,0.260870,0.000142
4,E_0000c362229d93,Coffee Cat,7.082218,125.610244,F. Torres St.,Davao City,Davao Region,8000,PH,NaN,...,Davao City,Davao Region,8000,PH,NaN,NaN,"Coffee Shops, Cafés, Dessert Shops",False,0.842105,0.006319

In [15]:
df.to_csv("./data/pairs_dists.csv")

## EDA of working data

In [17]:
tmp = df.loc[df['match']==True,'geo_distance']
max(tmp), min(tmp)

(270.86873840747324, 0.0)

In [25]:
tmp = df.loc[(df['geo_distance']>222) & (df['match']==True),
             ['name_1','latitude_1','longitude_1','name_2','latitude_2','longitude_2','geo_distance','match']]
tmp

,name_1,latitude_1,longitude_1,name_2,latitude_2,longitude_2,geo_distance,match
160171,End Of The Trail,35.535544,-97.482444,End Of The Trail,35.798273,140.056346,237.538936,True
191157,Dollar Tree,48.151142,-122.179384,Dollar Tree,48.151200,122.185800,244.365184,True
284600,Beijing Capital Int'l Airport 北京首都国际机场 (PEK),40.066649,116.607529,Beijing Capital Airport,33.941900,-118.399734,235.087061,True
295275,Griya Tegal Wangi Asri,-8.691548,115.223665,Padmasana Griya Tegal Wangi Asri,39.720000,-105.120000,225.599222,True
434160,MTR North Point Station 北角站,22.290985,114.200630,MTR North Point Station 北角站,21.001641,-156.665040,270.868738,True
469201,Los Angeles International Airport (LAX),33.943117,-118.403950,LAX Airport,2.900440,102.875110,223.445900,True
469202,Los Angeles International Airport (LAX),33.943117,-118.403950,Los Angeles International Airport LAX,-6.174719,106.916000,228.863542,True
495366,Ashley HomeStore,47.492458,111.230481,Ashley Furniture HomeStore,47.492458,-111.230484,222.460965,True
572476,MTR Central Station,22.282341,114.158110,mtr central,21.001658,-156.664967,270.826105,True

In [ ]:
df.head()

In [ ]:
fig, (ax1,ax2) = plt.subplots(1,2)
ax1.scatter(df.loc[df['match']==True,'name_similarity'].values, 
            df.loc[df['match']==True,'geo_distance'].values,
            label="True")
ax2.scatter(df.loc[df['match']==False,'name_similarity'].values, 
            df.loc[df['match']==False,'geo_distance'].values,
            label="False")
ax1.set_xlabel("name_similarity")
ax1.set_ylabel("geo_similarity")
ax1.legend()
ax1.set_ylim([0,1])
ax2.legend()
plt.show()

In [ ]:
import seaborn as sns
sns.set_theme(style="whitegrid")
fig, ax = plt.subplots()
ax = sns.boxplot(x = 'match', y = 'name_similarity', data=df, ax=ax)
fig.tight_layout()

In [ ]:
sns.boxplot(x = 'match', y = 'geo_distance', data=df)

In [ ]:
L = df.shape[0]
for i in range(1,11):
#     tmp1 = len(df_US[(df_US['geo_distance']>10*i) & (df_US['match']==True)])/L
    tmp2 = len(df[(df['geo_distance']>10*i)])/len(df[(df['match']==True)])
#     print('{:3d}: {}'.format(i,tmp1))
    print('{:3d}: {:e}'.format(i,tmp2))

# US pairs

In [27]:
# df_pairs_US = df_pairs[(df_pairs['country_1']=='US') & ((df_pairs['country_2']=='US'))]
# df_pairs_US.to_csv('./data/pairs_us.csv')

df_pairs_US = pd.read_csv("./data/pairs_us.csv")
df_pairs_US.shape
# df_US = df_pairs_US[['id_1','name_1','latitude_1','longitude_1','categories_1',
#                      'id_2','name_2','latitude_2','longitude_2','categories_2','match']]

(117708, 26)