# This notebook contains code to break the files under "data_raw" that are too big for github.

In [1]:
import pandas as pd

First I'll repartition the pairs.csv file.

In [7]:
raw_pairs = pd.read_csv('../../data_raw/pairs.csv')

In [8]:
raw_pairs.head()

,id_1,name_1,latitude_1,longitude_1,address_1,city_1,state_1,zip_1,country_1,url_1,...,longitude_2,address_2,city_2,state_2,zip_2,country_2,url_2,phone_2,categories_2,match
0,E_000001272c6c5d,Café Stad Oudenaarde,50.859975,3.634196,Abdijstraat,Nederename,Oost-Vlaanderen,9700,BE,NaN,...,3.635206,NaN,NaN,NaN,NaN,BE,NaN,NaN,Bars,True
1,E_000008a8ba4f48,Turkcell,37.844510,27.844202,Adnan Menderes Bulvarı,NaN,NaN,NaN,TR,NaN,...,27.845560,batı aydın,aydın,NaN,67500,TR,NaN,NaN,Electronics Stores,False
2,E_000023d8f4be44,Island Spa,14.518970,121.018702,"5th Flr, Newport Mall, Resorts World Manila",Pasay City,Metro Manila,NaN,PH,NaN,...,121.019827,NaN,NaN,NaN,NaN,PH,NaN,NaN,Spas,True
3,E_00007dcd2bb53f,TOGO'S Sandwiches,38.257797,-122.064599,"1380 Holiday Ln., Ste. B",Fairfield,CA,94534,US,https://locations.togos.com/ll/US/CA/Fairfield...,...,-122.064606,NaN,Fairfield,CA,NaN,US,NaN,NaN,Sandwich Places,True
4,E_0000c362229d93,Coffee Cat,7.082218,125.610244,F. Torres St.,Davao City,Davao Region,8000,PH,NaN,...,125.611457,E. Jacinto Extension,Davao City,Davao Region,8000,PH,NaN,NaN,"Coffee Shops, Cafés, Dessert Shops",False

In [4]:
len(raw_pairs)

578907

In [5]:
import numpy as np

In [9]:
raw_pairs_list = np.array_split(raw_pairs, 3)

In [12]:
type(raw_pairs_list[0])

pandas.core.frame.DataFrame

In [15]:
for i in range(len(raw_pairs_list)):
    print(i)
    raw_pairs_list[i].to_csv(f'../../data_curated/pairs_{i}.csv')

0
1
2

Now I'll repartition the train.csv file.

In [16]:
raw_train = pd.read_csv('../../data_raw/train.csv')

In [17]:
raw_train_list = np.array_split(raw_train, 3)

In [ ]:
for i in range(len(raw_train_list)):
    print(i)
    raw_train_list[i].to_csv()